<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RedStore | Ecomemerce Webside Design</title>
    <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-twitter-512.png" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swa" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="logo.png" alt="125">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Account</a></li>
                </ul>
            </nav>
            <img src="cart.png" width="30px" height="30px">
            <img src="menu.png" width="30px" height="30px" class="menu-icon"
                 onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Give Your Workout<br> A New !</h1>
                <p>Success isn't always about somthing</p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="image1.png">
            </div>
        </div>
    </div>
</div>
<!--categories-->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="category-1.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="category-2.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="category-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--product-->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="product-1.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-2.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-3.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-4.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="product-5.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-6.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-7.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-8.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="product-9.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-10.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-11.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
        <div class="col-4">
            <img src="product-12.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.000.000.000(VND)</p>
        </div>
    </div>
</div>
<!--offter-->
<div class="offter">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on RedStore</p>
                <h1>Smart Ban</h1>
                <small>The Mi Smart Band . . .</small>
                <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<!---------testimonial--------->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem Ipsum is bla bla . . .</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="user-1.png">
                <h3>Maria Ozawa</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Ờ mây zing gút chóp . . .</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="user-2.png">
                <h3>Tokuda shigeo</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem Ipsum is bla bla . . .</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="user-3.png">
                <h3>Thị Nở</h3>
            </div>
        </div>
    </div>
</div>
<!---------brand--------->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="logo-philips.png">
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="play-store.png">
                    <img src="app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="logo-white.png">
                <p>Download App for Android and ios mobile phone.</p>
            </div>
            <div class="footer-col-3">
                <h3>Userful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagarm</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <hr>
            <div style="background-color: #888888;height: 1px;width: 70%;text-align: center"></div>
            <p class="copyright">Copyright 2020 -Dao Thang</p>
        </div>
    </div>
</div>
<!--js for menutoggle-->
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle(){
        if (MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight="200px"
        }else {
            MenuItems.style.maxHeight="0px"
        }
    }
</script>
</body>
</html>
